[Desktop Entry]
Type=Application
Name=Fladder
GenericName=Jellyfin Client
Comment=A cross-platform Jellyfin frontend
Exec=/opt/Fladder/Fladder %U
Icon=/opt/Fladder/data/flutter_assets/assets/Icon.svg
Terminal=false
Categories=AudioVideo;Video;Player;TV;Network;
StartupWMClass=Fladder
StartupNotify=true

